
@{
    ViewBag.Title = "Contact";
}

<h2 class="pageHeader">Contact Me</h2>

<div class="container-fluid">
    <div class="row">
        <p>Contact Form</p>
        <div class="col-md-5">
            <form class="well" id="contactForm" name="sentMessage" novalidate="">
                Contact me
                <!-- Full Name -->
                <div class="control-group">
                    <div class="controls">
                        <input class="form-control" id="name" type="text" placeholder="Full Name" required="" data-validation-required-message="Please enter your name" />

                    </div>
                </div>
                <br />
                <!-- Email -->
                <div class="control-group">
                    <div class="controls">
                        <input class="form-control" id="email" type="email" placeholder="Email" required="" data-validation-required-message="Please enter your email" />
                    </div>
                </div>
                <br />
                <!--Message -->
                <div class="control-group">
                    <div class="controls">
                        <textarea rows="10" cols="100" class="form-control"
                                  placeholder="Message" id="message" required
                                  data-validation-required-message="Please enter your message" minlength="5"
                                  data-validation-minlength-message="Min 5 characters"
                                  maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <br />
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button class="btn btn-primary pull-left" type="submit">Send</button>

            </form>
        </div>

        <div class="col-md-6 col-md-push-1">
            <p>Social Media Links</p>
            <ul style="list-style-type: none">
                <li>
                    <p><img src="~/Content/Images/githubpic.png" width="50" /> GitHub: <a href="https://www.github.com/dhunt3">https://www.github.com/dhunt3</a></p>
                </li>
                <li>
                    <p><img src="~/Content/Images/codeeval.jpg" width="50" /> Codeeval: <a href="https://www.codeeval.com/profile/dhunt3">https://www.codeeval.com/profile/dhunt3</a></p>
                </li>
                <li>
                    <p><img src="~/Content/Images/LinkedIn icon.jpg" width="50" /> LinkedIn: <a href="https://www.linkedin.com/in/dhunt3">https://www.linkedin.com/in/dhunt3</a></p>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <img src="~/Content/Images/Welcome.PNG" />
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="~/Scripts/contactMe.js"></script>