<!--Index view page for my About controller-->
@{
    ViewBag.Title = "About";
}

<h2 class="pageHeader">About Me</h2>
<br />

<div class="container about">
    <div class="row">
        <div class="col-md-6" style="padding:10px;">
            <br />
            <p>
                I would love an opportunity to pursue a career as a Web Developer, as I have obtained my bachelor's degree in Computer Science at Kent State University.

                During my undergraduate career I have had the opportunity to engage in school work that helped me gain the knowledge needed to find a career in Web Development. I graduated in 2012, and I was able to find a job as a Computer Associate right after graduation.

                Prior to my services in the computer industry, I have had the opportunity to work in an area where excellent customer service was key to my position. Being in the computer industry helped me become a better employee throughout the years and sharpen my customer service skills, as well as many other skills useful for employment.

                As a Helpdesk Specialist and Lab Monitor Manager I have had the opportunity to train others as well as help modify and create instructional documentation for my co-workers to make the workplace easier. I also helped students with services ranging from basic computer questions to the more technical aspects of my job, such as password resets and showing the students how to use applications on our PCs as well as the student’s personal technology.

                As a Computer Associate I am able to apply the skills I gain as a Helpdesk Specialist to work with patrons on a more personal level, while also teaching classes to the community to help them learn computer skills needed to succeed in a work environment as well as for their personal benefits. I also have been able to train co-workers and work with managers on work related projects to help the establishment prosper.

                I am knowledgeable, eager to learn more, good with people, and very organized in my thinking. I haven’t had much opportunity to focus on programming as a Computer Associate and I am in the process of reconnecting with that part of myself. I currently attend a coding bootcamp called We Can Code IT and I will receive a certification in December 2015.  I would love an opportunity to find an employer that encourages training and that I can grow with personally and professionally. 
            </p>
        </div>
        
            <div class="col-md-5 col-md-offset-1">
                <div class="container-fluid aboutColumn">
                    <h3 style="font-size:large">My skills</h3>
                    <hr />
                    <ul>
                        <li>Computer knowledge (including Microsoft Office, Macs and PCs)</li>
                        <li>Knowledge of computer applications</li>
                        <li>Efficient programmer</li>
                        <li>HTML and other Web programming languages</li>
                        <li>.NET and C#</li>
                        <li>GIT and GitHub</li>
                        <li>Communication skills</li>
                        <li>Teach computer classes</li>
                        <li>Training</li>
                        <li>Documentation</li>
                        <li>Fluent in Spanish</li>
                        <li>Background in French</li>
                        <li>Management</li>
                    </ul>
                </div>
                <br />
                <div class="container-fluid aboutColumn">
                <h3 style="font-size:large">More about me...</h3>
                    <hr />
                <h4>My hobbies include:</h4>

                <p>
                    <ul>
                        <li>Reading - I absolutely love to get lost in a good book. Though I do like non-fiction, fiction is truly where the imagination is allowed to run wild!</li>

                        <li>Yoga - I love those days where I can find peace on my yoga mat. Getting the mind, body and spirit on the same track is important to me. Yoga helps me align all those things.</li>

                        <li>Arts & Crafts - I am a creative person. On my down time I love to put things together and create artistic things from scratch. I've created folded book art, clutches, necklaces, home decor, and many other things.</li>

                        <li>Family and Friends - I am very family oriented and I  love to spend quality time with those I hold dear to my heart. </li>
                    </ul>
                </p>
                    </div>
            </div>
        </div>
    </div>
</div>

