
@{
    ViewBag.Title = "Index";
}

<br />

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>About me...</h3>
            <p>blah blah</p>
            <p>blah</p>
            <a class="btn btn-default" href="#" role="button">Learn More...</a>
        </div>

        <div class="col-md-6 col-lg-push-1">
            <img src="~/Content/Images/20150607_000837.jpg" class="image-rounded img-responsive DH" />
        </div>

        <!--<div class="row">-->
        <!--<div class="col-md-2  col-md-offset-10 moreinfo">-->
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <h3>My Code</h3>
                <p>blah blah</p>
                <p>blah</p>
                <a class="btn btn-default" href="#" role="button">See More...</a>
            </div>
        </div>
    </div>
<!--</div>-->
    </div>

